.default {
 
}

.button_style {
    margin-top: 10px;
    border-radius: 5px;
}
.button{
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 5px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif; 
    font-size: 16px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
}

@keyframes glowing {
    0% { background-color: #8b8f8a; box-shadow: 0 0 3px #8b8f8a; }
    50% { background-color: #b5b8b4; box-shadow: 0 0 10px #b5b8b4; }
    100% { background-color: #8b8f8a; box-shadow: 0 0 3px #8b8f8a; }
}
.button {
    animation: glowing 3000ms infinite;
}
.red {
    color: rgb(196, 78, 78);
    font-weight: 600;
}