.wrapper {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: bisque;
    width: fit-content;
}
.input_wrapper{
  height: 45px;
}
.error {
  border: 2px solid red;
}
.btn {
    margin-left: 20px;
}
.class_red {
  color: red;
}
